# Build directories
*/target/*

# Eclipse and IDE-specific files
.classpath
.project
.settings/
planttycoon/Sangjun/workspace/sts

# Logs and temporary files
*.log

# Ignore mail-config.properties file
*/src/main/resources/application-local.properties

