@charset "utf-8";

.watering{width: 100%; margin-top: 20px; position: relative; display: flex; flex-wrap: wrap; align-items: flex-start;}

.watering_left{width: 55%; display: flex; flex-wrap: wrap;}
.watering_left .auto_watering{width: 100%; padding: 30px 25px; display: flex; flex-wrap: wrap; background: #fff; border-radius: 5px; overflow: hidden; box-shadow: 0 0 7px 0 rgba(107, 115, 137, .1);}
.watering_left .auto_watering h4{font-size: 16px; font-weight: 600; width: 100%; margin-bottom: 20px;}
.watering_left .auto_watering form{width: 100%; display: flex; flex-wrap: wrap;}
.watering_left .auto_watering .wataring_input{display: flex; flex-wrap: wrap; align-items: center;}
.watering_left .auto_watering .wataring_input input{width: 150px; height: 46px; text-align: right; padding: 0 20px; box-sizing: border-box; border: 1px solid #d4d9dc; background: #fff; font-size: 16px;}
.watering_left .auto_watering .wataring_input p{margin-left: 8px; font-weight: 500; display: flex; flex-wrap: wrap; font-size: 16px;}
.watering_left .auto_watering .wataring_input p span{margin-left: 8px; font-size: inherit; color: #969ea5;}
.watering_left .auto_watering button{margin-left: auto; width: 120px; height: 46px; background-color: #40c866; border-radius: 5px; color: #fff; font-size: 16px; font-weight: 600;}

.watering_left .watering_log{margin-top: 30px; width: 100%; padding: 30px 25px; display: flex; flex-wrap: wrap; background: #fff; border-radius: 5px; overflow: hidden; box-shadow: 0 0 7px 0 rgba(107, 115, 137, .1);}
.watering_left .watering_log h4{font-size: 16px; font-weight: 600; width: 100%; margin-bottom: 20px;}
.watering_left .watering_log .log_list{width: 100%; position: relative;}
.watering_left .watering_log .log_list .log_head{width: 100%; padding: 0 20px; display: flex; flex-wrap: wrap; align-items: center; background: #f1f9f5; height: 40px;}
.watering_left .watering_log .log_list .log_head li{position: relative; font-size: 14px; color: #90a095; font-weight: 600; text-align: center; padding: 0 10px;}
.watering_left .watering_log .log_list .log_head li:nth-child(1){width: 70%;}
.watering_left .watering_log .log_list .log_head li:nth-child(2){width: 30%;}
.watering_left .watering_log .log_list .log_body{width: 100%;}
.watering_left .watering_log .log_list .log_body li{width: 100%; padding: 0 20px; display: flex; flex-wrap: wrap; align-items: center; border-bottom: 1px solid #eef2f0; height: 40px;}
.watering_left .watering_log .log_list .log_body li div{position: relative; text-align: center; padding: 0 10px;}
.watering_left .watering_log .log_list .log_body li div:nth-child(1){width: 70%;}
.watering_left .watering_log .log_list .log_body li div:nth-child(2){width: 30%;}
.watering_left .watering_log .log_list .paging{margin-top: 20px;}

.watering_right{width: calc(45% - 30px); margin-left: 30px; padding: 30px 25px; display: flex; flex-wrap: wrap; background: #fff; border-radius: 5px; overflow: hidden; box-shadow: 0 0 7px 0 rgba(107, 115, 137, .1);}
.watering_right h4{font-size: 16px; font-weight: 600; width: 100%; margin-bottom: 20px;}
.watering_right .chart{width: 100%; overflow: hidden; height: 280px;}



/* 미디어쿼리 1500 */
@media (max-width: 1500px){
    .watering_left{width: 100%;}
    .watering_right{width: 100%; margin-left: 0; margin-top: 30px;}
}

/* 미디어쿼리 800 */
@media (max-width: 800px){
    .watering_left .auto_watering,
    .watering_left .watering_log,
    .watering_right{padding: 20px;}
    .watering_left .auto_watering .wataring_input input,
    .watering_left .auto_watering button{width: 80px;}
    .watering_left .auto_watering .wataring_input p{font-size: 15px;}

    .watering_left .watering_log .log_list .log_head,
    .watering_left .watering_log .log_list .log_body li{padding: 0 10px}
}


















