<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.planttycoon.mapper.JournalMapper">
	
	<resultMap type="kr.co.planttycoon.domain.JournalDTO" id="journalResultMap">
		<result property="journalId" column = "journalid"/>
		<result property="journalTitle" column = "journaltitle"/>
		<result property="journalContent" column = "journalcontent"/>
		<result property="memberId" column = "memberid"/>
		<result property="journalRegdate" column = "journalregdate"/>
	</resultMap>
	
 <select id="getListWithPaging" resultMap="journalResultMap">
    SELECT *
    FROM (
        SELECT /*+ INDEX_DESC(journal JOURNAL_JOURNAL_PK) */ ROWNUM rn, journal.*
        FROM journal
        WHERE memberid = #{memberId}
        <if test="cri.type != null and cri.type != ''">
            <choose>
                <when test='cri.type == "T"'>
                    AND journaltitle LIKE '%' || #{cri.keyword} || '%'
                </when>
                <when test='cri.type == "C"'>
                    AND journalcontent LIKE '%' || #{cri.keyword} || '%'
                </when>
            </choose>
        </if>
        AND ROWNUM &lt;= #{cri.pageNum} * #{cri.amount}
    )
    WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
</select> 
	
</mapper>