<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.planttycoon.mapper.LedcontrolMapper">

	<insert id="insertLedControl">
        INSERT INTO control (ledId, ledStatus, memberId, wateringInterval)
        VALUES (CONTROL_SEQ.nextval, DEFAULT, #{memberId}, DEFAULT)
    </insert>
    
    <select id="selectLedControlByMemberId" resultType="java.lang.String">
        SELECT ledStatus
        FROM control
        WHERE memberId = #{memberId}
    </select>

    <update id="updateLedControlByMemberId">
	    UPDATE control
	    SET ledStatus = #{ledStatus}
	    WHERE memberId = #{memberId}
	</update>
    
</mapper>